.search {
    padding: 2rem;
    width: 30rem;
}

.search input {
   width: 70%;
    padding: .5rem;
}
.campo {
    margin-bottom: 1rem;
}
.campo:nth-of-type(2) {
    display: flex;
}
input[type="checkbox"] {
    flex-basis: 2rem;
}
