
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './components/filterableProductTable/index.css';
@import './components/searchBar/index.css';
@import './components/productTable/index.css';
@import './components/productCategoryRow/index.css';

:root {
    --fuente-principal : 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    width: 100%;
    height: 100%;
}

